gradio
requests
pandas
openpyxl
langchain
python-dotenv
langgraph
langchain_openai
langchain_community
langchain_tavily
wikipedia
pymupdf
arxiv
flake8
langchain_huggingface
gradio[oauth]
beautifulsoup4
requests
matplotlib
pillow
torch
transformers
openai
faster-whisper